[Desktop Entry]
Type=Application
Exec=~/cloud/startCloud.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=cloud
Name=cloud
Comment[ja]=
Comment=
