[Desktop Entry]
Type=Application
Exec=~/.config/xkeysnail/startXkeysnail.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=xkeysnail
Name=xkeysnail
Comment[ja]=
Comment=
